#anteUp {
  display: block;
  position: relative;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Muli", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 3px;
}

p {
  display: flex;
}
.bet {
}
#payout {
  margin-bottom: 60px;
}
#label {
  font-size: 20px !important;
  font-weight: 800;
}
#quantities {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
}
#anteUpButton {
  letter-spacing: 3px;
  color: rgb(255, 255, 255) !important;
  font-family: "Muli", sans-serif;
  transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
  background-color: #ed3ad0 !important;
  border: none;
  font-family: "Muli", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 40px !important;
  margin-top: -40px;
}
#cardBody {
  adding-bottom: 100px !important;
}
#betInput {
  display: inline-flex;
  align-items: center;
  width: 50%;
}
#wager {
  font-size: 25px;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: 50px;
  font-family: "Muli", sans-serif;
  letter-spacing: 5px;
}
.anteButton {
  letter-spacing: 3px;
  margin: 10px;
  color: rgb(255, 255, 255) !important;
  font-family: "Muli", sans-serif;
  transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
  background-color: #ed3ad0 !important;
  border: none;
  font-family: "Muli", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  margin-top: -20px;
  margin-bottom: 50px;
}
