#ageVar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;
  margin-left: 33%;
  margin-top: -33%;
  width: 600px;
  height: 200px;
  z-index: 9;
  flex-direction: column;
  font-size: 30px;
  font-family: "Muli", sans-serif;
}
